.login-container{
    margin:auto;
    width: 30%;
    text-align: center;
    position  : fixed;
    transform : translate(110%, 30%);
 
}
.login-card{
    width: 380px;
    height: 400px;
}
.login-form-container{
    margin:auto;
    padding-top: 0px;
    /* text-align: center; */
    
    
}
.form-txt-input{
    width: 250px;
    display: block;
    margin: auto;
    border-color:#83B735 !important ;

}
.login-btn{
    width: 180px;
    text-align: center;
}
.big-btn-color{
    background-color:#18A15C !important ;
    border:none;
}
#forgot-ps-txt{
    text-align: right !important;
    font-size: 12px;
    color: #83B735;
}
.img-logo{
    height: auto;
    width: 50%;
}
.logo-div{
    padding-top: 0%;
}
.sidebar-design{
    background-color:#0B472E;
    height: 648px;
}
.sidebar-logo{
    height: auto;
    width: 180px;
    padding: 0% !important;
}
.list-divider{
    border-style: solid;
    border-bottom:1px ;
    border-color:#6C7C99 ;

}