doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='bootstrap-css/css/bootstrap.css')
  link(rel='stylesheet' href='css/site.css')
  title Login
nav.navbar.navbar-expand-lg.navbar-dark.text-white.menu-bar
  .container-fluid
    div
      img.menu-logo(src='../images/b-wlogo3.png' alt='')
    div
      form.form-inline.my-2.my-lg-0
        input.form-control.mr-sm-2.mt-0.menu-search.text-white(type='search' style='width:350px;' placeholder='Search by type' aria-label='Search')
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item
          a.nav-link.active.ml-5.menu-item(aria-current='page' href='#') Home
        li.nav-item
          a.nav-link.active.menu-item(href='#') Special Deals
        li.nav-item
          a.nav-link.active.menu-item(href='#') Blog
        li.nav-item
          a.nav-link.active.menu-item(href='#') Contact Us
    .app-entry
      .btn.login-btn
        button.btn.rounded-pill(type='submit') Back
.container-fluid.form-style-login
  .form-container
    .logo-div
      img.user-logo.mb-4(src='../images/logo.png' alt='Ufarm logo')
    form#signup.form(action='/login' name='registration' method='POST)
      h5 Login to your account
      hr
      .form-field
        label(for='username')
          | User Name:
          small  *
        input#username(type='text' name='username' autocomplete='off')
      .form-field
        label(for='Password')
          | Password:
          small  *
        input#Password(type='text' name='Password' autocomplete='off')
      .user-btn-container
        button.btn.rounded-pill.user-btn(type='submit') Login
script(src='bootstrap-js/js/bootstrap.bundle.js')
