extends layout 
block content
    main.content
        nav.navbar.navbar-expand-lg.shadow.p-2.mb-3.bg-white.bottom-shadow
            .container-fluid
                a.navbar-brand.text-dark(href='#' style= 'margin-right:70%') Upload Your Produce
                button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarSupportedContent.collapse.navbar-collapse
                    ul.navbar-nav.me-auto.mb-2.mb-lg-0.ml-auto
                        li.nav-item.dropdown(style='margin-left: auto')
                            a.nav-link.dropdown-toggle.text-secondary(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false') #{loggedUser.firstname +" "+ loggedUser.lastname}
                            ul.dropdown-menu
                                li
                                    a.dropdown-item(href='#') Profile
                                li
                                    a.dropdown-item(href='#')
                                li
                                    form(method="POST" action='/logout')
                                        button.btn(type= 'submit' width='100px') Signout
        .container-fluid.d-flex.flex-row.flex-wrap.justify-content-between.mt-4
            .ml-4
                h5 Update this produce Produce
        .container-fluid.form-style
            .logo-div
                img.user-logo.mb-2(src='../images/logo.png' alt='Ufarm logo')
            form#signup.form(action='/produce/update?id='+product._id name='registerproduce' method='post' enctype="multipart/form-data")
                h5.text-muted.text-center Add Your Produce Details Here
                .row
                    .col
                        .form-field
                            label(for='producename') Produce Name:
                            select(name='producename')
                                option(value="Brocoli" selected = product.producename === "Brocoli") Brocoli
                                option(value="Apples" selected = product.producename === 'Apples') Apples
                                option(value="Lemons" selected = product.producename === 'Lemons') Lemons
                                option(value="Banana" selected = product.producename === 'Banana') Banana
                                option(value="Lemons" selected = product.producename === 'Lemons') Lemons
                                option(value="Cabbage" selected = product.producename === 'Cabbage') Cabbage
                                option(value="GreenPaper" selected = product.producename === 'GreenPaper') Green Paper
                .row
                    .col
                        .form-field
                            label(for='')
                                | Unit Price:
                                small  *
                            input#price(type='number' name='price' autocomplete='off' value=product.unitprice)
                    .col
                        .form-field
                            label(for='')
                                | Quantity:
                                small  *
                            input#ward(type='number' name='quantity' autocomplete='off' value=product.quantity)
                    .col
                        .form-field
                            label(for='') Mode of Delivery:
                            select(name='modeofdelivery')
                                option(value="Pick Up" selected = product.modeofdelivery === 'pickup') Pick Up
                                option(value="Home Delivery" selected = product.modeofdelivery === 'homedelivery') Home Delivery
                    .col
                        .form-field
                            label Mode of Payment:
                            select(name='modeofpayment')
                                option(value="Cash" selected = product.modeofpayment === 'cash') Cash
                                option(value="Mobile Money" selected = product.modeofpayment === 'mobilemoney') Mobile Money   
                    .form-field
                        input.btn.register-btn(type='submit' value='Update')