extends layout 
block content
    main.content
        nav.navbar.navbar-expand-lg.shadow.p-2.mb-3.bg-white.bottom-shadow
            .container-fluid
                a.navbar-brand.text-dark(href='#' style= 'margin-right:70%') Edit Your Produce
                button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarSupportedContent.collapse.navbar-collapse
                    ul.navbar-nav.me-auto.mb-2.mb-lg-0.ml-auto
                        li.nav-item.dropdown(style='margin-left: auto')
                            a.nav-link.dropdown-toggle.text-secondary(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false') #{loggedUser.firstname +" "+ loggedUser.lastname}
                            ul.dropdown-menu
                                li
                                    a.dropdown-item(href='#') Profile
                                li
                                    a.dropdown-item(href='#')
                                li
                                    form(method="POST" action='/logout')
                                        button.btn(type= 'submit' width='100px') Signout
        .container-fluid.d-flex.flex-row.flex-wrap.justify-content-between.mt-4
            .ml-4
                h5 Update this produce Produce
        .container-fluid.form-style
            .logo-div
                img.user-logo.mb-2(src='/images/logo.png' alt='Ufarm logo')
            form#signup.form(action='/produce/update?id='+product._id name='registerproduce' method='post' onsubmit="return ProduceForm(event);")
                h5.text-muted.text-center Add Your Produce Details Here
                hr
                .row
                    .col-lg-4.col-md-6.col-sm-12
                        .form-field
                            label(for='producecategory') Produce Category:
                            select#producecategory(name='producecategory')
                                option(value="Horticulture" selected = product.producecategory === "Horticulture") Horticulture
                                option(value="Poultry" selected = product.producecategory === "Poultry") Poultry
                                option(value="Dairy Products" selected = product.producecategory === "Dairy Products") Dairy Products
                    .col-lg-4.col-md-6.col-sm-12
                        .form-field
                            label(for='producename') Produce Name:
                            select(name='producename')
                                option(value="Brocoli" selected = product.producename === "Brocoli") Brocoli
                                option(value="Banana" selected = product.producename === 'Banana') Banana
                                option(value="Cabbage" selected = product.producename === 'Cabbage') Cabbage
                                option(value="GreenPaper" selected = product.producename === 'GreenPaper') GreenPaper
                                option(value="Garlic" selected = product.producename === 'Garlic') Garlic
                                option(value="Tomatoes" selected = product.producename === 'Tomatoes') Tomatoes
                                option(value="RedOnions" selected = product.producename === 'RedOnions') Red Onions
                                option(value="Milk" selected = product.producename === 'Milk') Milk
                                option(value="Yogurt" selected = product.producename === 'Yogurt') Yogurt
                                option(value="Cheese" selected = product.producename === 'Cheese') Cheese
                                option(value="Butter" selected = product.producename === 'Butter') Butter
                                option(value="Chicken" selected = product.producename === 'Chicken') Chicken
                                option(value="Eggs" selected = product.producename === 'Eggs') Eggs
                                option(value="Turkey" selected = product.producename === 'Turkey') Turkey
                                option(value="Beef" selected = product.producename === 'Beef') Beef
                    .col-lg-4.col-md-6.col-sm-12
                        .form-field
                            label(for='units') Units of Measurement:
                            select#units(name='units')
                                option(value='Kgs' selected = product.units === "Kgs") Kgs
                                option(value='gms' selected = product.units === "gms") gms
                                option(value='liters' selected = product.units === "liters") liters
                                option(value='Bunch' selected = product.units === "Bunch") Bunch
                                option(value='Piece' selected = product.units === "Piece") Piece
                                option(value='Sack' selected = product.units === "Sack") Sack
                                option(value='Tray' selected = product.units === "Tray") Tray
                .row
                    .col-lg-4.col-md-6.col-sm-12
                        .form-field
                            label(for='')
                                | Quantity:
                                small  *
                            input#quantity(type='number' name='quantity' autocomplete='off' value=product.quantity)
                    .col-lg-4.col-md-6.col-sm-12
                        .form-field
                            label(for='')
                                | Unit Price:
                                small  *
                            input#unitprice(type='number' name='price' autocomplete='off' value=product.unitprice)
                    .col-lg-4.col-md-6.col-sm-12 
                        .form-field
                            label(for='totalprice')
                                | Total Price:
                                small.asterisk  *
                            input#totalprice.ml-2.flex-fill(type='number' name='totalprice' placeholder='Enter Price' autocomplete='off' value=product.totalprice)
                            //- small#totalpriceerr
                .row
                    .col-lg-4.col-md-6.col-sm-12
                        .form-field
                            label(for='') Mode of Delivery:
                            select(name='modeofdelivery')
                                option(value="Pick Up" selected = product.modeofdelivery === 'Pick Up') Pick Up
                                option(value="Home Delivery" selected = product.modeofdelivery === 'Home Delivery') Home Delivery
                    .col-lg-4.col-md-6.col-sm-12
                        .form-field
                            label Mode of Payment:
                            select(name='modeofpayment')
                                option(value="Cash" selected = product.modeofpayment === 'cash') Cash
                                option(value="Mobile Money" selected = product.modeofpayment === 'mobilemoney') Mobile Money
                    .col-lg-4.col-md-6.col-sm-12
                        .form-field
                            label Produce Type:
                            .radio#producttype
                                input#gender1(type='radio' name='producttype' autocomplete='off' value= 'Organic' checked = product.producttype === 'Organic')
                                span Organic
                                input#gender2(type='radio' name='producttype' autocomplete='off' value= 'NoneOrganic' checked = product.producttype === 'NoneOrganic')
                                span NoneOrganic
                    .container.FO-form-btn
                        .button1
                            input.btn.btn-primary.mt-1.form-add-btn.mr-auto(type='submit' value='Update')
    script(src='/bootstrap-js/js/bootstrap.bundle.js')
    script(src='/js/produce_validation.js')