extends layout
block content
  main.content
    nav.navbar.navbar-expand-lg.shadow.p-2.mb-3.bg-white.bottom-shadow
      .container-fluid
        a.navbar-brand.text-dark(href='#') Edit and Add New FarmerOne
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.me-auto.mb-2.mb-lg-0.ml-auto
            li.nav-item.dropdown(style='margin-left: auto')
              a.nav-link.dropdown-toggle.text-secondary(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                | Agricultural Officer
              ul.dropdown-menu
                li
                  a.dropdown-item(href='#') Profile
                li
                  a.dropdown-item(href='#')
                li
                  a.dropdown-item(href='#') Signout
    .container-fluid.d-flex.flex-row.flex-wrap.justify-content-between.mt-4
      .ml-4
        h3 FarmerOne
      .mr-4
        a(href='new-fo-form.html')
          button.btn.btn-primary.mb-3.login-btn.big-btn-color.mr-auto(type='submit')
            | Add FarmerOne
    .container
      .card.mt-5(style='width: 100%')
        .card-body
          h5.card-title Current FarmerOne
          table.table.table-hover
            thead
              tr
                th(scope='col') Number
                th(scope='col') Name
                th(scope='col') Ward
                th(scope='col') Email
                th(scope='col') Phone No
                th(scope='col') Action
            tbody
              tr
                th(scope='row') 1
                td Mark
                td Otto
                td @mdo
                td @mdo
                td
                  button.btn.btn-primary.mb-3.action-btn.rounded-pill(type='submit')
                    | Edit
              tr
                th(scope='row') 2
                td Jacob
                td Thornton
                td @fat
                td @mdo
                td
                  button.btn.btn-primary.mb-3.action-btn.rounded-pill(type='submit')
                    | Edit
              tr
                th(scope='row') 3
                td(colspan='2') Larry the Bird
                td @twitter
                td @mdo
                td
                  button.btn.btn-primary.mb-3.action-btn.rounded-pill(type='submit')
                    | Edit
    .footer
      small.mt-4.ml-5 &copy; Refactory Cohort 12
      small.mt-4.mr-5 &copy; Designed By Fauzia | fauzianaava@gmail.com | 0704545576
  script(src='bootstrap-js/js/bootstrap.bundle.js')
