doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='bootstrap-css/css/bootstrap.css')
    link(rel='stylesheet' href='css/stylesheet.css')
    title FO| Activities
  aside.sidebar
    .col-auto.col-md-3.col-xl-2.px-sm-2.px-0
      .d-flex.flex-column.align-items-center.align-items-sm-start.px-3.pt-2.text-white.min-vh-100
        div
          img.sidebar-logo(src='/images/s-wlogo2.png' alt='Ufarm Logo')
        hr.mb-3.mt-4(width='225px' color='#2F6A3F')
        .sidebar-list-container
          ul.nav.flex-column.mb-sm-auto.mb-0.align-items-center.align-items-sm-start.sidebar-list(id='')
            li.nav-item.intext.mb-4
              a(href='AO-dashboard.html') Dashboard
            li.nav-item.sidebar-header.p-0.intext
              strong FARMERONE MANAGEMENT
            hr.m-0(width='225px' color='#2F6A3F')
            li.nav-item.pt-4.intext
              a(href='ward.html') Wards
            li.nav-item.intext
              a(href='AO-fo-accounts.html') Accounts
            li.nav-item.intext.mb-4
              a(href='AO-fo-activities.html') Activities
            li.nav-item.sidebar-header.p-0.intext
              strong ACCOUNTS
            hr.m-0(width='225px' color='#2F6A3F')
            li.nav-item.pt-4.intext My account
            li.nav-item.intext Users
  main.content
    nav.navbar.navbar-expand-lg.shadow.p-2.mb-3.bg-white.bottom-shadow
      .container-fluid
        a.navbar-brand.text-dark(href='#') FarmerOne Activities
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.me-auto.mb-2.mb-lg-0.ml-auto
            li.nav-item.dropdown(style='margin-left: auto')
              a.nav-link.dropdown-toggle.text-secondary(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                | Agricultural Officer
              ul.dropdown-menu
                li
                  a.dropdown-item(href='#') Profile
                li
                  a.dropdown-item(href='#')
                li
                  a.dropdown-item(href='#') Signout
    .container
      .card.mt-5(style='width: 100%')
        .card-body
          h5.card-title Recent FO Activities
          table.table.table-hover
            thead
              tr
                th(scope='col') Number
                th(scope='col') Name
                th(scope='col') Ward
                th(scope='col') Email
                th(scope='col') Phone No
                th(scope='col') Action
            tbody
              tr
                th(scope='row') 1
                td Mark
                td Otto
                td @mdo
                td @mdo
                td
                  button.btn.btn-primary.mb-3.action-btn.rounded-pill(type='submit')
                    | Edit
              tr
                th(scope='row') 2
                td Jacob
                td Thornton
                td @fat
                td @mdo
                td
                  button.btn.btn-primary.mb-3.action-btn.rounded-pill(type='submit')
                    | Edit
              tr
                th(scope='row') 3
                td(colspan='2') Larry the Bird
                td @twitter
                td @mdo
                td
                  button.btn.btn-primary.mb-3.action-btn.rounded-pill(type='submit')
                    | Edit
    .footer
  script(src='bootstrap-js/js/bootstrap.bundle.js')
