extends layout 
block content
  main.content
    nav.navbar.navbar-expand-lg.shadow.p-2.mb-3.bg-white.bottom-shadow
      .container-fluid
        a.navbar-brand.text-dark(href='#') Register New FarmerOne
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.me-auto.mb-2.mb-lg-0.ml-auto
            li.nav-item.dropdown(style='margin-left: auto')
              a.nav-link.dropdown-toggle.text-secondary(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                | Agricultural Officer
              ul.dropdown-menu
                li
                  a.dropdown-item(href='#') Profile
                li
                  a.dropdown-item(href='#')
                li
                  a.dropdown-item(href='#') Signout
    .container-fluid.form-style
      .logo-div
        img.user-logo.mb-2(src='../images/logo.png' alt='Ufarm logo')
      form#registerFO.form(action='/registerFO' name='registration' method='POST')
        h5.text-muted.text-center Add FarmerOne Details
        hr
        .row
          .col
            .form-field
              label(for='firstname')
                | First Name:
                small.asterisk  *
              input#firstname(type='text' name='firstname' autocomplete='off')
              .error
          .col
            .form-field
              label(for='lastname')
                | Last Name:
                small.asterisk  *
              input#lastname(type='text' name='lastname' autocomplete='off')
              .error    
          .col
            .form-field
              label(for='uniquenumber')
                | Unique Number:
                small.asterisk  *
              input.text-muted(type='text' name='uniquenumber' id='' autocomplete='off' value='forexample MW1-001')
              .error
          .col
            .form-field
              label(for='password')
                | Password:
                small.asterisk  *
              input.text-muted(type='password' name='password' id='' autocomplete='off')
              .error
        .row
          .col
            .form-field
              label(for='role') Role
              select(name='role' id='')
                option() Assign a role to this farmerOne
                option() farmerOne
              .error
          .col
            .form-field
              label(for='ninnumber')
                | NIN Number:
                small.asterisk  *
              input#ninnumber(type='text' name='ninnumber' autocomplete='off')
              .error
          .col
            .form-field
              label(for='phonenumber')
                | Phone Number:
                small.asterisk  *
              input#phonenumber(type='text' name='phonenumber' autocomplete='off')
              .error
          .col
            .form-field
              label(for='residenttype') Resident Type:
              select(name='residenttype' id='')
                option() Select Resident Type
                option() Permanent
                option() Temporary
              .error
        .row
          .col
            .form-field
              label(for='periodofstay')
                | Period of Stay:
                small.asterisk  *
              input#phonenumber(type='number' name='periodofstay' autocomplete='off')
              .error
          .col
            .form-field
              label(for='regdate')
                | Date of Registration:
                small.asterisk  *
              input#regdate(type='date' name='regdate' autocomplete='off')
              .error
          .col
            .form-field
              label(for='birthdate')
                | Date of Bith
                small.asterisk  *
              input#birthdate(type='date' name='birthdate' autocomplete='off')
              .error
          .col
            .form-field
              label(for='gender') Gender:
              .radio
                input#gender1(type='radio' name='gender' autocomplete='off' checked='')
                span Female
                input#gender2(type='radio' name='gender' autocomplete='off')
                span Male
                input#gender3(type='radio' name='gender' autocomplete='off')
                span Others
              .error
        hr.mt-1
        p.text-muted Add FarmerOne&apos;s Direction Coordinates
        .row
          .col
            .form-field
              label(for='ward') Ward:
              select(name='ward' id='')
                option() Appoint a ward to this farmerOne
                option() Ward 1
                option() Ward 2
                option() Ward 3
                option() Ward 4
              .error
          .col.column-stretch-left
            .form-field
              label(for='streetname')
                | Street Name:
                small.asterisk  *
              input#streetname(type='text' name='streetname' autocomplete='off')
              .error
          .col
            .form-field
              label(for='housenumber')
                | House Number:
                small.asterisk  *
              input#housenumber(type='text' name='housenumber' autocomplete='off')
              .error    
          .col
            .form-field
              label(for='gender') Activities:
              .activity()
                input#register.checkbox-size(type='checkbox' name='activity' autocomplete='off' value='inspects' checked='')
                span.check-box-tex Inspect
                input#inspect.checkbox-size(type='checkbox' name='activity' autocomplete='off' value='approves')
                span.check-box-tex Approve
                input#approve.checkbox-size(type='checkbox' name='activity' autocomplete='off' value='register')
                span.check-box-tex  Register
        .container.FO-form-btn
          .button1
            button.btn.btn-primary.mt-1.form-add-btn.mr-auto(type='submit') Add New
          .button1
            button.btn.btn-primary.mt-1.ml-4.form-clear-btn.mr-auto(type='' style='width: 120px') Clear

    .footer
      small.mt-4.ml-5 &copy; Refactory Cohort 12
      small.mt-4.mr-5 &copy; Designed By Fauzia | fauzianaava@gmail.com | 0704545576
  script(src='bootstrap-js/js/bootstrap.bundle.min.js')
  //- script(src='js/AO-validation.js')
